{% extends 'base.html.twig' %}

{% block title %}Departments List{% endblock %}

{% block body %}
<a class="button outline primary" href="/department/new">➕ New Department</a>
<table>
    <thead>
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Bonus Type</td>
    </tr>
    </thead>
    <tbody>
    {% for department in departments %}
        <tr>
            <td>{{ department.id }}</td>
            <td>{{ department.name }}</td>
            <td>{{ department.bonus_type }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
