{% extends 'base.html.twig' %}

{% block title %}Reports List{% endblock %}

{% block action %}
    <form action="/report/generate" method="POST" style="margin: auto 0;">
        <button class="button outline primary" type="submit">📄 Generate Report</button>
    </form>
{% endblock %}

{% block body %}
<table>
    <thead>
        <tr>
            <td>ID</td>
            <td>Date</td>
            <td>Status</td>
        </tr>
    </thead>
    <tbody>
        {% for report in reports %}
            <tr>
                <td><a href="/report/{{ report.id }}">{{ report.id }}</a></td>
                <td>{{ report.date }}</td>
                <td>{{ report.status }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
